<a href="https://colab.research.google.com/github/puttriMAX08/Lab-Dasar-Pemrograman-6/blob/main/week-3-fashion-mnist-cnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")
print('Halo Dunia')

Hello World
Halo Dunia

In [2]:
# ini komentar 1 line

"""
komen disini

"""
print("Sistem data mahasiswa")

Sistem data mahasiswa

In [3]:
nama = input("Nama : ")
print(nama)

umur = input("Umur : ")
print(umur)

Nama : putri
putri
Umur : 18
18

In [ ]:
#string, float integer
int()
#string, integer

In [6]:
nama = input("Nama : ")
print(nama)

umur = input("Umur : ")
print(umur)

print(type(umur))

hobi = input("Hobi : ")
print(hobi)
print(type(hobi))

Nama : putri
putri
Umur : 18
18
<class 'str'>
Hobi : nonton
nonton
<class 'str'>

In [7]:
print("Pertambahan", 17+5)
print("Pembagian", 17/5)
print("Pembagia floor", 17//5)
print("Perpangkatan", 2**5)

c = 8
d = 3
print(c%d)

Pertambahan 22
Pembagian 3.4
Pembagia floor 3
Perpangkatan 32
2

In [8]:
x = 5
x += 5
print(x)

num1 = 10
num2 = 5
num1 &= 7 #1010 and 0111 = 0010

print(num1)

10
2

In [ ]:
num2 = 7
011100
num2 <<= 2
print

Percabagan

In [9]:
uts = float(input("Nilai UTS : "))
uas = float(input("Nilai UAS : "))

rata2 = (uts + uas) / 2

if (rata2 >= 85) :
  grade = "A"
elif (rata2 >= 7) :
  grade = "B"
else :
  grade = "C"
print(grade)

Nilai UTS : 56
Nilai UAS : 41
B

Looping

In [14]:
angka = 0
while angka <= 5 :
  print(angka)
  angka += 1

0
1
2
3
4
5

In [17]:
angka = 50
while angka >= 50 and angka <= 70:
  angka += 1
  if (angka % 2 == 0):
    break #semua berhenti
  else :
    print(angka)

51

In [19]:
#range(start, stop, step)
for i in range(0,6,1) :
  print(i)

0
1
2
3
4
5

Function

In [20]:
def halo():
  print("halo dunia")

halo()

halo dunia

In [21]:
def keuntungan(pemasukan, pengeluaran):
  keuntungan = pemasukan - pengeluaran
  return keuntungan

keuntungan(150000, 10500.5)

139499.5

Struktur Data

list

In [27]:
nilai = [1000, 250, 151, 50] ##indeks mulai dari 0

print(nilai[1])
nilai.append(20)
print(nilai)

nilai.insert(2,80)
print(nilai)

250
[1000, 250, 151, 50, 20]
[1000, 250, 80, 151, 50, 20]

In [30]:
nilai2 = [75, 88, 30]
nilai.extend(nilai2)
print(nilai)

nilai.sort()
print(nilai)

[1000, 250, 80, 151, 50, 75, 88, 30, 75, 88, 30]
[30, 30, 50, 75, 75, 80, 88, 88, 151, 250, 1000]

In [29]:
nilai.pop(5)
print(nilai)

[1000, 250, 80, 151, 50, 75, 88, 30]

In [32]:
nilai = [70, 15, 60, 5]
nilai.insert(3, 30)
nilai.pop()
nilai.sort()
nilai.append(3)
nilai.pop()
print(nilai)

[15, 30, 60, 70]

tuple

In [ ]:
jadwal_kuliah = ()

set

In [31]:
organisasi = {"UKM", "Hima", "Bem"}
organisasi.add("Rohis")
print(organisasi)

{'Hima', 'Rohis', 'Bem', 'UKM'}

dictionary

In [ ]:
mahasiswa = {
    "nama" : "Putri"
    "nim" : "251401081"
}

print(mahasiswa[])